.container {
    border: 2px solid #ADD8E6;
    width: 500px;
    margin: 0 auto;
    height: 550px;
}

form {

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.error {
    color: red;
}

.info-col {
    display: flex;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 5%;

}

label {
    width: 120px;
    border: 1.5px solid #2e8bc0;
    color: white;
    background: #70ad47;
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
    block-size: fit-content;
}


input,
select {
    border: 1.5px solid #2e8bc0;
    margin-left: 10%;
    width: 55%;
}

#image {
    border: 0;
}


#radioBtn {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.info{
    margin-left: 10%;
    border: 1.5px solid #2e8bc0 ;
    width: 200px;
    padding-left: 10px;
}


#submit {
    background-color: #70ad47;
    border-radius: 10px;
    width: 35%;
    height: 43px;
    border: 1.5px solid #2e8bc0;
    margin: 10px 130px;
    color: white;

}